<%= render "dashes/nav_standard" %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">    
<div class="uk-grid" data-uk-grid-margin="">

                <div class="uk-width-medium-1-2 uk-row-first">
                    <img width="400" height="400" src="/robot7.svg" alt="">
                </div>

                <div class="uk-width-medium-1-2 uk-grid">
                    <div class="uk-text-bottom">
	                    <h1 class="">this is phil</h1>
					    <hr class="uk-grid-divider">
	                    <h2 class="">he's very good at following directions.</h2>
	                    <p class="">he's here to help people find your brand.</p>
	                    <p class="">plug in a few tags below, the emphasis on each tag, and phil will go to work for you.</p>
	                    <h3 class="">let phil bring the friends to you.</h3>
                    </div>
                </div>

            </div>
    <hr class="uk-grid-divider">
</div>
